:root {
  --accent: #78b159;
}

body {
  background-color: #222;
  color: #fff;
  text-align: center;
  max-width: 640px;
  margin: auto;
}

h1 {
  font-size: 2.5em;
  font-family: sans-serif;
  font-weight: bold;
}

h2 {
  text-align: left;
}

p {
  font-family: serif;
  text-align: left;
}

.buttons {
  text-align: center;
  margin: 0;
}
.buttons img {
  margin: 0;
}

a {
  color: var(--accent);
  text-decoration: none;
}
